.home {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('./images/backgroundFirst.png');
    background-size: cover;
}

.name-game {
    width: 50%;
}

.story {
    width: 100%;
    height: 100vh;
    background-color: #72b4e7;
    background-image: url('./images/background-story.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-window {
    width: 32%;
    height: 100%;
    background-image: url('./images/story-window.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
}

.story-text {
    width: 60%;
    height: 60%;
    margin: 25%;
    font-size: 90%;
    font-weight: 600;
    font-style: oblique;
    text-align: justify;
    overflow: hidden;
}

.story > img {
    width: 20%;
    height: 40%;
    bottom: 10px;
    right: 10px;
}

.screens {
    width: 100%;
    height: 100vh;
    background-color: #f59df2;
    background-image: url('./images/background-screens.png');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.screens > img {
    width: 25%;
    height: 27%;
    margin: 3%;
    border: 2px solid #a80f0f;
    border-radius: 10px;
    overflow:hidden;
    -webkit-transition: all 1s ease-out;
    transition: all .7s ease-out;
}

.screens > img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.about {
    width: 100%;
    height: 150px;
    background-color: #c05a3f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}

input.play {
    margin: 7% 17% 15%;
    width: fit-content;
    height: fit-content;
    font-size: 2.3em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: 1px solid #000000;
    border-radius: 20px;
    background: #c05a3f linear-gradient(#f79393, #a80f0f);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

input.play:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}

input.play:focus {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
    border: 2px solid #000000;
    background: #c05a3f linear-gradient(#ff3131, #af0f0f);
}

input.play:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}

@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
